* {
    box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Inter, sans-serif;
  height: 100vh;
  /* background-color: #282D35; */
}

nav{

  display: flex;
  background-color: rgb(39, 38, 38); 
  align-items: center;
  padding: 30px 25px;
  height: 90px;
}

nav.dark {
  background-color: #21222A;
}

.text-1, .text-2{
   margin: 0;
  
}
.text-1{
  margin-right: auto;
   color: #61DAFB;
   font-weight: 700;
   font-size: 22px;
}
.text-2{
  /* margin-right: 2rem; */
  color: aliceblue;
  font-weight: 600;

  
}
.nav-icon{
  width: 30px;
  margin-right: 7px;
}
main {
  padding: 57px 27px;
  background-image: url("./image/react-icon-light.png"); 
  background-repeat: no-repeat;
  background-position: right center;
  background-size: 190px;
  flex: 1 1 auto;
  background-color: white;
  color: #2B283A;
}

main.dark {
  background-image: url("./image/react-icon-dark2.png"); 
  background-color: hsl(0, 0%, 11%);
  color: white;   
  background-size: 190px;


}

.main--title {
  margin: 0;
  font-size: 39px;
  letter-spacing: -0.05em;
}

.main--facts {
  margin-top: 46px;
  max-width: 400px;
}

.main--facts > li {
  line-height: 19px;
  padding-block: 10px;
}

.main--facts > li::marker {
  font-size: 1.4rem;
  color: #61DAFB;
}




.button-click{
  height: 30px;
  width: auto;
  background-color: rgb(236, 43, 17);
 box-shadow: 3px 5px ;
 margin-left: 10px;
  

}
.form--input{
    
    padding: 20px;
    /* text-indent: 10px; */
    border: 1px solid #444;
    border-radius: 5px;
    
    
}
textarea {
  margin-bottom: 15px;
  border: 1px solid #444;
  border-radius: 5px;
  display: block;
  
}


.toggler {
    display: flex;
    align-items: center;
}

.toggler p {
    font-size: 0.625rem;
    font-weight: 600;
}

.toggler--slider {
    width: 25px;
    height: 13px;
    background-color: #2B283A;
    border-radius: 2rem;
    margin-inline: 7px;
    cursor: pointer;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border: 1px solid black;
    box-sizing: content-box;
}

nav.dark .toggler--slider {
    border-color: white;
    background-color: #F5F5F5;
}

.toggler--slider--circle {
    height: 13px;
    width: 13px;
    background-color: white;
    border-radius: 50%;
}

nav.dark .toggler--slider--circle {
    background-color: black;
}

.toggler--light {
    color: #918E9B;
}

nav.dark .toggler--light {
    color: #918E9B;
}

.toggler--dark {
    color: #D5D4D8;
}

nav.dark .toggler-dark {
    color: #FFFFFF;
}

nav.dark .toggler--slider {
    justify-content: flex-end;
}